role=application
port_number=1313

#Naming service
#naming_host=10.66.67.10
naming_host=localhost
naming_port=1111

#Frontend service
frontend=enabled
#frontend_host=10.66.67.10
frontend_host=localhost
frontend_port=1212

#Management system
dm_host=localhost
#dm_host=10.66.67.10
dm_port=1212

#system_monitor=enable
system_monitor=disable
cpu_lower_threshold=25
cpu_higher_threshold=90
system_interval=1000

#lower_threshold=0
#higher_threshold=200000
#system_interval=1000
#object_monitor=enable
object_monitor=disable
