role=frontend
port_number=1212

#Cloud Provider info
cloud_provider=opennebula
one_auth=oneadmin:gfads!@#
one_xmlrpc=http://10.66.66.2:2633/RPC2
max_vms=3

cloud_list=10.66.66.20:1212

#Name service
naming_host=localhost
naming_port=1111

#Management system
#system_monitor=enable
system_monitor=disable
system_interval=1000

object_monitor=enable
#object_monitor=disable
response_time_lower_threshold=500
response_time_higher_threshold=1200
object_interval=10000
