role=registry
port_number=1111
system_monitor=disable
object_monitor=disable

#frontend service
frontend=enabled
#frontend=disabled
frontend_host=localhost
frontend_port=1212

java -server -Xms512m -Xmx1024m -XX:+UseG1GC -cp .:./exercicio04RemotePatterns.jar /root/br.ufpe.cin.in1118.application.server.ServerApplication&